---
# handlers file for install_dependencies

- name: restart docker
  systemd:
    name: docker
    state: restarted
    daemon_reload: yes

- name: reload systemd
  systemd:
    daemon_reload: yes

- name: restart ssh
  systemd:
    name: ssh
    state: restarted

- name: restart fail2ban
  systemd:
    name: fail2ban
    state: restarted
  when: "'fail2ban' in ansible_facts.packages"
