---
# System Hardening handlers

- name: Restart SSH
  ansible.builtin.service:
    name: ssh
    state: restarted
  listen: Restart SSH

- name: Restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted
  listen: Restart fail2ban
