---
# This task file handles Docker image loading
# - Loads from local tar.gz files when elk_use_local_images is true
# - Pulls images from registry when elk_use_local_images is false

- name: Pull Elasticsearch Docker image
  community.docker.docker_image:
    name: "{{ elk_elasticsearch_image }}"
    tag: "{{ elk_stack_version }}"
    source: pull
  when: not elk_use_local_images

- name: Pull Kibana Docker image
  community.docker.docker_image:
    name: "{{ elk_kibana_image }}"
    tag: "{{ elk_stack_version }}"
    source: pull
  when: not elk_use_local_images

- name: Load Elasticsearch Docker image from file
  community.docker.docker_image:
    name: "{{ elk_elasticsearch_image }}"
    tag: "{{ elk_stack_version }}"
    source: load
    load_path: "{{ role_path }}/files/elasticsearch.tar.gz"
  when: elk_use_local_images

- name: Load Kibana Docker image from file
  community.docker.docker_image:
    name: "{{ elk_kibana_image }}"
    tag: "{{ elk_stack_version }}"
    source: load
    load_path: "{{ role_path }}/files/kibana.tar.gz"
  when: elk_use_local_images
