{
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  "storage-driver": "{{ docker_storage_driver }}",
  "data-root": "{{ docker_data_root }}",
{% if docker_nvidia_runtime_enabled %}
  "runtimes": {
    "nvidia": {
      "path": "nvidia-container-runtime",
      "runtimeArgs": []
    }
  },
  "default-runtime": "nvidia",
{% endif %}
{% if docker_insecure_registries | length > 0 %}
  "insecure-registries": {{ docker_insecure_registries | to_nice_json }},
{% endif %}
{% if docker_registry_mirrors | length > 0 %}
  "registry-mirrors": {{ docker_registry_mirrors | to_nice_json }},
{% endif %}
  "live-restore": true,
  "userland-proxy": false,
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 65536,
      "Soft": 65536
    }
  }
}
