---
# GRUB Security Hardening tasks

- name: Check if GRUB is installed
  ansible.builtin.stat:
    path: /etc/default/grub
  register: grub_config_file
  tags:
    - grub
    - hardening

- name: GRUB hardening tasks
  when: grub_config_file.stat.exists
  tags:
    - grub
    - hardening
  block:
    - name: Set GRUB password
      when: grub_password_enabled
      block:
        - name: Generate GRUB password hash
          ansible.builtin.shell: |
            echo -e "{{ grub_password }}\n{{ grub_password }}" | grub-mkpasswd-pbkdf2 | grep -oP 'grub\.pbkdf2\.sha512\.[^\s]+'
          register: grub_password_hash
          changed_when: false
          no_log: true

        - name: Create GRUB password configuration file
          ansible.builtin.copy:
            dest: /etc/grub.d/40_custom_password
            mode: '0755'
            content: |
              #!/bin/sh
              exec tail -n +3 $0
              # This file provides password protection for GRUB
              set superusers="{{ grub_superuser }}"
              password_pbkdf2 {{ grub_superuser }} {{ grub_password_hash.stdout }}
          notify: Update GRUB

    - name: Configure GRUB security settings
      ansible.builtin.lineinfile:
        path: /etc/default/grub
        regexp: "{{ item.regexp }}"
        line: "{{ item.line }}"
        state: present
        backup: yes
      loop:
        - regexp: '^GRUB_TIMEOUT='
          line: 'GRUB_TIMEOUT={{ grub_timeout }}'
        - regexp: '^GRUB_CMDLINE_LINUX='
          line: 'GRUB_CMDLINE_LINUX="{{ grub_cmdline_linux }}"'
        - regexp: '^GRUB_DISABLE_RECOVERY='
          line: 'GRUB_DISABLE_RECOVERY={{ grub_disable_recovery }}'
      notify: Update GRUB

    - name: Disable GRUB menu editing
      ansible.builtin.lineinfile:
        path: /etc/default/grub
        regexp: '^GRUB_DISABLE_SUBMENU='
        line: 'GRUB_DISABLE_SUBMENU=y'
        state: present
      when: grub_disable_submenu
      notify: Update GRUB

    - name: Set restrictive permissions on GRUB configuration
      ansible.builtin.file:
        path: "{{ item }}"
        mode: '0600'
        owner: root
        group: root
      loop:
        - /etc/default/grub
        - /boot/grub/grub.cfg
      ignore_errors: yes

    - name: Set restrictive permissions on GRUB directory
      ansible.builtin.file:
        path: /etc/grub.d
        mode: '0700'
        owner: root
        group: root
        recurse: yes

    - name: Enable kernel hardening parameters
      ansible.builtin.lineinfile:
        path: /etc/default/grub
        regexp: '^GRUB_CMDLINE_LINUX_DEFAULT='
        line: 'GRUB_CMDLINE_LINUX_DEFAULT="{{ grub_cmdline_linux_default }}"'
        state: present
      when: grub_kernel_hardening_enabled
      notify: Update GRUB

    - name: Remove GRUB configuration backups from /boot
      ansible.builtin.find:
        paths: /boot/grub
        patterns: "grub.cfg.*.bak,grub.cfg~"
      register: grub_backups

    - name: Delete GRUB backup files
      ansible.builtin.file:
        path: "{{ item.path }}"
        state: absent
      loop: "{{ grub_backups.files }}"
      when: grub_remove_backups

- name: Display GRUB hardening status
  ansible.builtin.debug:
    msg: "GRUB hardening {{ 'completed' if grub_config_file.stat.exists else 'skipped - GRUB not found' }}"
  tags:
    - grub
    - hardening
