---
# System Hardening tasks

- name: Include SSH hardening tasks
  ansible.builtin.include_tasks: ssh_hardening.yml
  tags:
    - ssh
    - hardening

- name: Include fail2ban configuration tasks
  ansible.builtin.include_tasks: fail2ban.yml
  when: fail2ban_enabled
  tags:
    - fail2ban
    - hardening

- name: Include GRUB hardening tasks
  ansible.builtin.include_tasks: grub_hardening.yml
  tags:
    - grub
    - hardening

- name: Include lshell installation and configuration tasks
  ansible.builtin.include_tasks: lshell.yml
  when: lshell_enabled
  tags:
    - lshell
    - hardening
    - shell
