---
# SSH Hardening Configuration

- name: Ensure SSH is installed
  ansible.builtin.package:
    name: openssh-server
    state: present

- name: Deploy SSH banner
  ansible.builtin.copy:
    src: ai_sshd_banner
    dest: "{{ ssh_banner_path }}"
    owner: root
    group: root
    mode: '0644'
  notify: Restart SSH

- name: Backup original sshd_config
  ansible.builtin.copy:
    src: /etc/ssh/sshd_config
    dest: /etc/ssh/sshd_config.backup
    remote_src: yes
    force: no

- name: Configure SSH - Ciphers
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Ciphers'
    line: "Ciphers {{ ssh_ciphers }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - KexAlgorithms
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?KexAlgorithms'
    line: "KexAlgorithms {{ ssh_kex_algorithms }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - MACs
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?MACs'
    line: "MACs {{ ssh_macs }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - PubkeyAcceptedKeyTypes
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PubkeyAcceptedKeyTypes'
    line: "PubkeyAcceptedKeyTypes {{ ssh_pubkey_accepted_key_types }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - RekeyLimit
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?RekeyLimit'
    line: "RekeyLimit {{ ssh_rekey_limit }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - LogLevel
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?LogLevel'
    line: "LogLevel {{ ssh_log_level }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - Banner
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?Banner'
    line: "Banner {{ ssh_banner_path }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - ClientAliveInterval
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?ClientAliveInterval'
    line: "ClientAliveInterval {{ ssh_client_alive_interval }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - ClientAliveCountMax
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?ClientAliveCountMax'
    line: "ClientAliveCountMax {{ ssh_client_alive_count_max }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - VersionAddendum
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?VersionAddendum'
    line: "VersionAddendum {{ ssh_version_addendum }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - DebianBanner
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?DebianBanner'
    line: "DebianBanner {{ ssh_debian_banner }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH
  when: ansible_os_family == "Debian"

- name: Configure SSH - PermitRootLogin
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: "PermitRootLogin {{ ssh_permit_root_login }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Configure SSH - PasswordAuthentication
  ansible.builtin.lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: "PasswordAuthentication {{ ssh_password_authentication }}"
    state: present
    validate: '/usr/sbin/sshd -t -f %s'
  notify: Restart SSH

- name: Ensure SSH service is enabled and started
  ansible.builtin.service:
    name: ssh
    state: started
    enabled: yes
